.footer__name {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
}

@media screen and (max-width: 700px) {
    .footer__name {
        font-size: 14px;
        line-height: 17px;
    }
}