.element__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  padding-left: 21px;
  padding-right: 15px;
  padding-bottom: 31px;
  padding-top: 25px;
  align-items: center;
  max-width: 282px;
}
